.blog-post {
margin-bottom: 30px;
border: 1px solid #e2e2e2;
padding: 20px;
border-radius: 5px;
}
.read-more {
text-align: right;
}
.card {
    max-width: 400px;
    max-height:300px;
    
    margin: auto; /* Center the card in the column */
  }
  .card {
    background-color: #f8f9fa; /* Light background for cards */
    transition: transform 0.2s, box-shadow 0.2s; /* Transition for hover effects */
  }
  
  .card:hover {
    transform: scale(1.02); /* Slightly enlarge the card on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Add shadow on hover */
  }