.card {
    transition: transform 0.2s;
}
  .card:hover {
    transform: scale(1.02); 
  }
  
  .card-title {
    font-weight: bold; 
  }
  
  .card-text {
    color: #495057;
  }
  
  .btn {
    transition: background-color 0.3s; 
  }
  
  .btn:hover {
    background-color: #007bff;
  }
  .blog-card {
    background-color: #d0e0f2; 
    transition: background-color 0.3s; 
  }
  
  .blog-card:hover {
    background-color: #accdec; 
  }
  